*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
h1{
    padding-left:20px;
    background-color: #333333;
    color: aliceblue;
    line-height: 60px;
}
.navbar{
    position: relative;
}

nav{
    position: absolute;
    top:20px;
    right:40px;
    font-size: larger;
    color: aliceblue;
}
.tapbar{
    display: inline-block;
    margin-left:30px;
}
section{
    height:400px;
    background-color: #cccccc;
    color: #9c9c9c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
}
.flexbox{
    margin:20px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
.child{
    background-color: #f4f4f4;
    line-height: 50px;
    text-align: center;
}
.child1{
    width:calc(50% - 20px);
    background-color: rgb(49, 148, 183);
}
.child2{
    width:calc(50% - 20px);
    background-color: burlywood;
}
.child3{
    width:calc(100% - 20px);
    background-color:brown;
}
@media screen and (max-width:1024px) {
    .child{
        width:calc(100% - 20px);
        font-size:30px;
        line-height: 80px;
    }
}
@media screen and (max-width:480px) {
    .child1{
        width:calc(100% - 20px);
        background-color: rgb(49, 148, 183);
    }
    .child2{
        width:calc(50% - 20px);
        background-color: burlywood;
    }
    .child3{
        width:calc(50% - 20px);
        background-color:brown;
    }
}