*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}
.child{
    width:calc(25% - 10px);
    background-color:#f08080 ;
    text-align: center;
    line-height: 40px;
}
 @media screen and (max-width:768px) {
     .child{ 
        width:calc(50% - 10px);
    }
} 
@media screen and (max-width:480px) {
    .child{
        width:calc(100% - 10px);
    }
}